# Next.js
.next/
out/

# Dependencies
node_modules/

# Env
.env
.env.local
.env*.local

# Cloudflare Pages build output
.vercel/

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
